/* CSS RESET
==================================================================================================== 
====================================================================================================
*/
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 - Older browser support
====================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: "Program OT", Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  min-width: 320px; }

body {
  margin: 0px 0px;
  width: 100%; }

header .logo {
  color: #ffffff;
  background-image: url(../images/turntable.png);
  background-repeat: no-repeat;
  font-size: 1.2rem;
  text-indent: 35px;
  margin-left: 3rem;
  padding-top: 0.6rem;
  position: absolute;
  top: 0.9rem;
  left: 1rem; }

a {
  text-decoration: none;
  color: #ffffff; }
  a:hover {
    color: #84bd00; }

p {
  color: #ffffff; }

label {
  background-color: #000000;
  padding: 0.2rem 0.2rem;
  margin-left: 0.4rem;
  font-size: 1.2rem; }

form {
  margin-top: 4rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center; }

article div {
  background: #84bd00;
  width: 100%; }

.searchInput {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0.5rem;
  margin-left: 0.4rem;
  outline: none;
  border: none;
  padding: 0.4rem 2.3rem;
  text-align: center; }

.search-button {
  border: none;
  padding: 0.7rem 0.4rem;
  margin-right: 0.2rem; }

header {
  background-image: url(../images/concert-photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 2rem; }

footer {
  background: #84bd00;
  color: #ffffff; }
  footer p {
    padding: 1rem 0.3rem;
    text-align: center;
    font-size: 1.2rem; }
