/* CSS RESET
==================================================================================================== 
====================================================================================================
*/
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 - Older browser support
====================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
====================================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
====================================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
====================================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
====================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

nav:after {
  content: "";
  display: block;
  clear: both; }

html {
  font-family: "Program OT", Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  min-width: 320px; }

body {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
  font-size: 1.2rem;
  width: 100%; }
  @media only screen and (min-width: 1000px) {
    body {
      background-color: #000000; } }

nav ul li a {
  text-decoration: none;
  color: #ffffff; }
  nav ul li a:hover {
    color: #84bd00; }

.results {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 50rem;
  margin: 0 10%; }

article img {
  width: 50%;
  height: 100%; }
  @media only screen and (min-width: 600px) {
    article img {
      width: 100%;
      height: auto; } }

article div h3 {
  margin-top: 0.8rem;
  margin-right: 0rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
  text-transform: uppercase; }

article div p {
  margin-top: 0.8rem;
  margin-right: 0rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  font-weight: none; }

article {
  background: #84bd00;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 0rem; }
  @media only screen and (min-width: 600px) {
    article {
      -ms-flex-preferred-size: 47.4%;
          flex-basis: 47.4%;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media only screen and (min-width: 1000px) {
    article {
      -ms-flex-preferred-size: 31.2%;
          flex-basis: 31.2%; } }
  @media only screen and (min-width: 1440px) {
    article {
      -ms-flex-preferred-size: 31.4%;
          flex-basis: 31.4%; } }

form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin-top: 3rem;
  margin-right: auto;
  margin-bottom: 0rem;
  margin-left: auto; }

.label-holder {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-top: 1rem;
  padding-right: 0rem;
  padding-bottom: 0.2rem;
  padding-left: 0.4rem; }
  @media only screen and (min-width: 600px) {
    .label-holder {
      font-size: 1.6rem; } }

.button-holder {
  -ms-flex: 1 0 90px;
      flex: 1 0 90px; }

.input-holder {
  color: #ffffff;
  -ms-flex: 2 0 250px;
      flex: 2 0 250px; }

.search-button {
  margin-top: 0rem;
  margin-right: 2.3rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
  border: none;
  background-color: #84bd00;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  font-size: 1.6em;
  padding-top: 1.5rem;
  padding-right: 0rem;
  padding-bottom: 1.5rem;
  padding-left: 0rem; }
  @media only screen and (min-width: 600px) {
    .search-button {
      padding-top: 2rem;
      padding-right: 0rem;
      padding-bottom: 2rem;
      padding-left: 0rem; } }

.search-button:hover {
  background: #ecebe8; }

.searchInput {
  box-sizing: border-box;
  text-overflow: ellipsis;
  padding-top: 1.5rem;
  padding-right: 0rem;
  padding-bottom: 1.3rem;
  padding-left: 0rem;
  outline: none;
  border: none;
  text-align: center;
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1.5em; }
  @media only screen and (min-width: 600px) {
    .searchInput {
      padding-top: 2rem;
      padding-right: 0rem;
      padding-bottom: 1.8rem;
      padding-left: 0rem; } }

.messageResults {
  background-color: #e8e8e8;
  padding-top: 2rem;
  padding-right: 0rem;
  padding-bottom: 2rem;
  padding-left: 0rem;
  margin-top: 1rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
  -ms-flex-preferred-size: 96%;
      flex-basis: 96%;
  text-align: center;
  font-weight: bold;
  font-size: 2rem; }
  @media only screen and (min-width: 600px) {
    .messageResults {
      font-size: 3rem; } }

nav {
  position: relative;
  padding-top: 1rem;
  padding-right: 0rem;
  padding-bottom: 1rem;
  padding-left: 0rem;
  top: -20px; }
  nav ul li {
    display: none;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 1rem;
    margin-top: 0rem;
    margin-right: 2rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    text-align: right; }
    @media only screen and (min-width: 600px) {
      nav ul li {
        display: inline;
        float: right;
        font-size: 1.6rem; } }

.mainNav.active {
  position: absolute;
  background: #111;
  width: 100%;
  height: 23.2rem; }
  .mainNav.active ul {
    padding-top: 5rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 0rem; }
  .mainNav.active .logo {
    display: none; }
  @media (min-width: 425px) {
    .mainNav.active {
      height: 18.4rem; } }

.active li {
  display: block;
  line-height: 3rem;
  font-size: 2rem; }

.logo-link {
  text-decoration: none;
  color: #ffffff; }

.ham {
  float: right;
  background-image: url(../images/hamburger.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-bottom: 0rem;
  margin-left: 0rem; }
  @media only screen and (min-width: 600px) {
    .ham {
      display: none; } }

.close {
  background-image: url(../images/close.png);
  margin-top: 3rem; }

header {
  background-image: url(../images/concert-photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 2rem;
  padding-right: 0rem;
  padding-bottom: 2rem;
  padding-left: 0rem; }
  @media only screen and (min-width: 600px) {
    header {
      padding-top: 6rem;
      padding-right: 0rem;
      padding-bottom: 6rem;
      padding-left: 0rem; } }

header .logo {
  position: absolute;
  color: #ffffff;
  background-image: url(../images/turntable.png);
  background-repeat: no-repeat;
  text-indent: 32px;
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 3rem;
  padding-top: 1.6rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  top: 1.5rem;
  left: 6rem;
  font-size: 1.8rem;
  text-decoration: none; }
  @media only screen and (min-width: 600px) {
    header .logo {
      top: 0rem; } }

footer {
  background: #84bd00;
  color: #ffffff;
  margin-top: 1rem; }
  footer p {
    padding-top: 2rem;
    padding-right: 0.3rem;
    padding-bottom: 2rem;
    padding-left: 0.3rem;
    text-align: center;
    font-size: 1.2rem; }
