.results::after{
	content: "";
	display: block;
  	clear: both; 
}
article img{
	width: 100%;  
	position: relative; 
}
label{
	background-color: $bg-color;
	padding: 0.3rem 0.6rem;
}
form{
	width: 100%;
	margin-left: 25rem;
}
form p{
	float: left;
	display: inline-block;
}
.search-button{
    margin-top: 2.5rem;
    margin-left: 0.5rem;
    border: none;
    color: black;
    background: $color-prime;
    padding: 0.9rem 4.8rem;
    border-radius: 0.2rem;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
}
.searchInput{
	display: block;
    width: 25rem;
    height: 3rem;
    outline: none;
    border: none;
}
article div{
	background: $color-prime;
	position: absolute;
    bottom: 0px;
    width: 100%;
}
input::-webkit-input-placeholder{
	font-size: 1rem;

}
nav::after{
	content: "";
	display: block;
	clear: both;
}
form::after{
	content: "";
	display: block;
	clear: both;
}