nav {
	
	ul li{
		display: none;
	}
}
ul{
	
}
header{
	background-image: url(../images/concert-photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
}

footer{
	background: $color-prime;
	color: $font-color-prime;
	// width: 100%;
	
	p{
		padding: 1rem 0.3rem;
		text-align: center;
		font-size: $font-size;
	}
}


