nav {
	
	ul li{
		display: none;
	}
}
ul{
	
}
header{
	background-image: url(../images/concert-photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include padding(2rem, 0rem, 2rem, 0rem);


	@include screen(med){
		padding-top: 6rem;
    	padding-bottom: 6rem;
	}
}

footer{
	background: $color-prime;
	color: $font-color-prime;
	// width: 100%;
	
	p{
		padding: 1rem 0.3rem;
		text-align: center;
		font-size: $font-size;
	}
}


