html {
  font-family: $font-choice;
  font-size: $base-font-size;
  line-height: 1.5;
  min-width: 320px;
}
body {
	margin: 0px 0px;
	// background: $bg-color;
	width: 100%;
}
header .logo{
    color: $font-color-prime;
    background-image: url(../images/turntable.png);
    background-repeat: no-repeat;
    font-size: 1.2rem;
    text-indent: 35px;
    margin-left: 3rem;
    padding-top: 0.6rem;
    position: absolute;
    top: 0.9rem;
    left: 1rem;
}
a{
	text-decoration: none;
	color: $font-color-prime;

	&:hover{
		color: $color-prime;
	}
}
// section
.results{
	

}
p{
	color: $font-color-prime;
}
article img{
	 
	 
}
label{
	background-color: $bg-color;
	padding: 0.2rem 0.2rem;
	margin-left: 0.4rem;
	font-size: $phone-font-size;
}
form{
	margin-top: 4rem;
	display: flex;
	flex-direction: row;
	align-items: center;

}
article div{
	background: $color-prime;
    width: 100%;
}
input::-webkit-input-placeholder{
	
}
.searchInput{
	@include margin(0rem, 0rem, 0.5rem, 0.4rem);
	// margin-left: 0.4rem;
	outline: none;
	border: none;
    padding: 0.4rem 2.3rem;
	// margin-bottom: 0.5rem;
	// background-color: blue;
	text-align: center;
}
.search-button{
	// background: red;
    border: none;
    padding: 0.7rem 0.4rem;
    margin-right: 0.2rem;
    
}

