html {
  font-family: $font-choice;
  font-size: $base-font-size;
  line-height: 1.5;
  min-width: 320px;
}
body {
	@include margin(0rem, 0rem, 0rem, 0rem);
	font-size: $font-size;
	width: 100%;

	@include screen(large){

		background-color: $bg-color;
	}
}
a{
	text-decoration: none;
	color: $font-color-prime;

	&:hover{
		color: $color-prime;
	}
}
// section
.results{
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	min-height: 50rem;
}
article img{
    width: 50%;
    height: 100%;

    @include screen(med){
		width: 100%;
		height: auto;
	}
}
article div {
	h3{
		@include margin(0.8rem, 0rem, 0.5rem, 0.5rem);
		font-weight: bold;
		text-transform: uppercase;
	}
	p{
		@include margin(0.8rem, 0rem, 0.5rem, 0.5rem);
		font-weight: none;
	}
}

article {
	background: $color-prime;
	display: flex;
	width: 100%;
    @include margin(1rem, auto, 1rem, auto);
    @include padding(0rem, 0rem, 1rem, 0rem);

	@include screen(med){

		flex-basis: 48%;
		flex-direction: column;
		flex-wrap: wrap;
	}
	@include screen(large){

		flex-basis: 32%;

	}
	
}
//==========Form=========//
form{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
    @include margin(0rem, auto, 0rem, auto);
}
.label-holder{
	background-color: $bg-color;
	color: $font-color-prime;
	font-size: $font-size;
	flex-basis: 100%;
	@include padding(1rem, 0rem, 0.2rem, 0.4rem);

	@include screen(med){

    	 font-size: 1.6rem;
    }
}
.button-holder{
	flex: 1 0 90px;

}
.input-holder{
	color: $font-color-prime;
	flex: 2 0 250px;
}
.search-button{
	@include margin(0rem, 2.3rem, 2rem, 0rem);
    border: none;
    background-color: $color-prime;
    flex-basis: 100%;
    width: 100%;
    font-size: 1.6em;
    @include padding(1.5rem, 0rem, 1.5rem, 0rem);

     @include screen(med){

    	 @include padding(2rem, 0rem, 2rem, 0rem);
    }
}
.search-button:hover{
	background: $color-second;
}
.searchInput{
    box-sizing: border-box;
    text-overflow: ellipsis;
    @include padding(1.5rem, 0rem, 1.3rem, 0rem);
    outline: none;
    border: none;
    text-align: center;
    width: 100%;
    flex-basis: 100%;
    font-size: 1.5em;

     @include screen(med){

    	 @include padding(2rem, 0rem, 1.8rem, 0rem);
    }

}
.messageResults{
	background-color: #e8e8e8;
	@include padding(3rem, 3.9rem, 3rem, 3.9rem);
	flex-basis: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;

	@include screen(med){

    	font-size: 3rem;
    }
}

